/* Set global background and font family here. */

body {
  background-color: #FFFFFF;
  font-family: Helvetica, Georgia;
}

/* Settings for graph divs. */

div.graph {
  margin-right: 10vw;
  margin-left: 10vw;
}

/* Use viewport, rems, and calc for responsivity. Letter-spacing for clean font effect. */

p {
font-size: calc(1.1rem + 0.25vw);
color: #013243;
text-align: center;
margin-top: 2vh;
margin-right: 10vw;
margin-left: 10vw;
letter-spacing: .1vw;
padding: .5vw;
}

/* Graph title settings. */

h2 {
color: #013243;
letter-spacing: .1vw;
text-align: center;
margin-top: 10vh;
margin-right: 10vw;
margin-left: 10vw;
padding: .5vw;
}

/* Remove underline on hyperlinks and change their color. */

a:link {
  text-decoration: none;
  color: #1F3A93;
}

a:visited {
  text-decoration: none;
  color: #1F3A93;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}
